{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
<h2 class="user">{{ profile }}</h2>
<div class="row">
    <div class="col-12 col-lg-6 margin-bottom-l">
        <h3>Order History</h3>
        <hr class="margin-bottom-l">
        <div class="container order-history">
         <div class="row">
            <div class="col">
                <p>Number</p>
            </div>
            <div class="d-none d-md-block col">
                <p>Date</p>
            </div>
            <div class="d-none d-md-block col">
                <p class="right">Order Total</p>
            </div>
            <div class="col">
                <p class="right">Grand Total</p>
            </div>
        </div>
        {% for order in orders %}
        <div class="row">
            <div class="col">
                <p><strong><a class="blue" href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                    {{ order.order_number|truncatechars:7}}
                </a></strong></p>
            </div>
            <div class="d-none d-md-block col">
                <p>{{ order.date }}</p>
            </div>
            <div class="d-none d-md-block col">
                <p class="right">{{ order.order_total }}</p>
            </div>
            <div class="col">
                <p class="right">{{ order.grand_total }}</p>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <h3>Delivery Address</h3>
        <hr class="margin-bottom-l">
        <form action="{% url 'user_profile' %}" method="POST" id="delivery-address-form">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="buttons">
                <button type="submit" id="submit-button" class="btn basic-button">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}