<nav class="navbar navbar-expand-md navbar-lower">
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="nav collapsible-navbar">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Eco & Washable
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Wipes</a>
                        <a class="dropdown-item" href="#">Cotton Pads</a>
                        <a class="dropdown-item" href="#">Nursing Pads</a>
                        <a class="dropdown-item" href="#">Sanitary Pads</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">How to use?</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blankets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Guest Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Information</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Gift Card</a>
                </li>
            </ul>
            </div>
        </nav>