<script>


    $('.update-link').click(function (e) {
        var form = $.prev('.update-form');
        console.log(form)
        form.submit();
    })

    //delete item from bag
    $('.remove-item').click(function (e) {
        e.preventDefault()
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    });
</script>