{% extends "base.html" %} 
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/allauth.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="div-navbar">
            <ul class="ul-navbar">
                {% if user.is_authenticated %}
                <li><a class="nav-link" href="{% url 'account_email' %}">Change E-mail</a></li>
                <li><a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a></li>
                {% else %}
                <li><a class="nav-link" href="{% url 'account_login' %}">Sign In</a></li>
                <li><a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="container">
            {% block allauth_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}


    {% block extra_body %}
    {% endblock %}
  </body>
</html>
