{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/185656999b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}
    {% endblock %}
    <title>Eco Era Store</title>
</head>

<body>
    <header>
        <!--Navigation bar upper row-->
            <nav class="navbar navbar-expand-md row">
                <div class="container-fluid">  
                    <!--Logo-->
                    <div class="col-xs-3 col-md-2 logo">
                        <a class="navbar-brand" href="{% url 'home' %}"><img class="logo-image" src="media/img/logo.png" alt="Logo Eco Era StoreS"></a>
                    </div>
                    <div class="d-none d-md-block col-md-6">
                        <p class="logo-text">Eco Era Store</p></a>
                    </div>
                    <!--Toggler Button-->
                    <div class="col-xs-3 d-md-none">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                    </button>
                </div>
                    <!--Account Dropdown-->
                    <div class="col-xs-3 col-md-2 nav-item ml-auto dropdown">
                                <a class="btn dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user-circle"></i><br>
                                    My Account
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                    <li><a class="dropdown-item" href="#">Product Management</a></li>
                                    {% endif %}
                                    <li><a class="dropdown-item" href="#">My Profile</a></li>
                                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a></li>
                                    {% else %}
                                    <li><a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a></li>
                                    <li><a class="dropdown-item" href="{% url 'account_login' %}">Log In</a></li>
                                    {% endif %}
                                </ul>
                      
                    </div>   
                                
                        <!--Basket-->
                        <div class="col-xs-3 col-md-2 nav-item ml-auto">
                            <a class="{% if grand_total %} {% else %}{% endif %} btn" href="#">
                                    <div>
                                        <i class="fas fa-shopping-cart fa-lg"></i><br>
                                        <span class="nav-text">{% if grand_total %}
                                            €{{ grand_total|floatformat:2 }}
                                            {% else %}
                                            €0.00
                                            {% endif %}
                                        </span>
                                    </div>
                                </a>
                                </div>
                        </div>
                     </div>  
                
            </nav>
            
   <!--Toggler Button-->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                    </button>
            <div class="nav-content">
                <ul>
                    <li class="btn"><a href="#">Washable wipes</a></li>
                    <li class="btn"><a href="#">Washable cotton pads</a></li>
                    <li class="btn"><a href="#">Washable nursing pads</a></li>
                    <li class="btn"><a href="#">Washable sanitary pads</a></li>
                    <li class="btn"><a href="#">Blankets</a></li>
                    <li class="btn"><a href="#">How to use?</a></li>
                    <li class="btn"><a href="#">Information</a></li>
                    <li class="btn"><a href="#">Giftcard</a></li>
                </ul>
            </div>
            </div>
            </nav>
            </header>
            
    {% if messages %}
    <div>
    </div>
    {% endif %}
    
    {% block header %}
    {% endblock %}
    
    {% block content %}
    {% endblock %}
    
    <footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    {% block js %}
    {% endblock %}
    
    
    </body>
    
    </html>