{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<h2>Shopping bag</h2>
{% if bag_items %}

    <div class="container bag-background">
        <div class="row">
            <div class="col-2">
                <h4 class="center">Item in bag</h4>
            </div>
            <div class="col-2">
                <h4 class="center">Name</h4>
            </div>
            <div class="col-2">
                <h4 class="center">Price</h4>
            </div>
            <div class="col-2">
                <h4 class="center">Quantity</h4>
            </div>
            <div class="col-2">
                <h4 class="center">Subtotal</h4>
            </div>
            <div class="col-2">
                <h4 class="center">Update bag</h4>
            </div>
        </div>
        <hr>
        <div class="row">
        {% for item in bag_items %}
        <div class="col-2">
        <img class="shoppingbag-image" src="{{ item.product.image.url }}" alt="Image of {{ item.product.name }}">
        </div>
         <div class="col-2 margin-auto">
        <h5>{{ item.product.name }}</h5>
    </div>
     <div class="col-2 margin-auto">
        <h5 class="center">€{{ item.product.price }}</h5>
    </div>
     <div class="col-2 margin-auto">
       <form class="update-form" action="{% url 'adjust_bag' item.item_id %}" method="POST">
           {% csrf_token %}
           <div>
            <h5 class="center">Quantity:</h5>
                    <input class="form-control" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                </div>
       </form>
    </div>
     <div class="col-2 margin-auto">
        <h5 class="center">{{ item.product.price | calc_subtotal:item.quantity }}</h5>
     </div>
     <div class="col-2 center">
        <a  class="update-bag btn basic-button little-button"><i class="fas fa-pencil-alt little-icon"></i></a>
        <a  class="remove-item btn basic-button little-button" id="remove_{{ item.item_id }}"><i class="far fa-trash-alt little-icon"></i></a>
    </div>
        {% endfor %}
    </div>
    <hr>

<div class="payment-total">
    <h4 class="right">Bag Total: €{{ total|floatformat:2 }}</h4>
    <h4 class="right">Delivery: €{{ delivery|floatformat:2 }}</h4>
    <h4 class="right">Grand Total: €{{ grand_total|floatformat:2 }}</h4>
    <br class="padding-5">
    {% if free_delivery_delta > 0 %}
        <p class="right">You could get free delivery by spending just €{{ free_delivery_delta|floatformat:2 }} more!</p>
    {% endif %}
    <br class="padding-5">
</div>
<div class="right">
     <a href="{% url 'products' %}" class="btn basic-button">Keep Shopping</a>
     <a href="{% url 'checkout' %}" class="btn basic-button checkout-button">Secure Checkout</a>
</div>

{% else %}
<div>
    <p>Your shopping bag is empty</p>
    <button>Shop now</button>
</div>
</div>
{% endif %}
{% endblock %}

{% block js %}

<script>  
        $('.update-bag').click(function(e) {
            $('form.update-form').submit();
        });

        //delete item from bag
     $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/shoppingbag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
        });
</script>
{% endblock %}
