{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<section>
    <h2>Product Management</h2>
</section>

<section>
    <div class="container-fluid">
    <div class="center margin-bottom-l">
        <h3>Add new item</h3>
        <a href="{% url 'add_item' %}" class="btn basic-button">Add Item</a>
    </div>
        
        <h3>Edit/Delete existing items</h3>
        <div class="row">
            {% for product in products %}
                <div class="col-12 col-md-6 col-lg-3 my-2">
                    <div class="card">
                        <a href="{% url 'edit_item' product.id %}">
                            <img class="card-img-top card-img" src="{{ product.image.url }}"  alt="Image of {{ product.name }}">
                        </a>
                        <div class="card-body">
                            <h3 class="card-title">{{ product.category.friendly_name }} - {{ product.name }}</h3>
                            <hr class="d-none d-md-block">
                            <p class="card-text center padding-5">€{{ product.price }}</p>
                            <div class="d-none d-md-block center padding-5">
                                <a href="{% url 'edit_item' product.id %}" class="btn basic-button">Edit Item</a>
                                <a href="{% url 'delete_item' product.id %}" class="btn basic-button">Delete Item</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}