{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<section>
    <div class="row banner">
        <div class="col">
            <p class="black-banner">Free shipping from €{{ free_delivery_threshold }},- in The Netherlands</p>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid container-placement">
        <div class="row">
            <div class="col-12 col-md-6 div-product-image">
                <img class="product-image" src="{{ product.image.url }}" alt="Image of {{ product.name }}">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="product-name">{{ product.name }}</h2>
                <h3 class="product-category"><strong>{{ product.category.friendly_name }}</strong></h3>
                <hr>
                <div>
                    <br>
                    <p class="left"><strong>{{ product.detail|linebreaksbr }}</strong></p>
                </div>
                <br>
                {% if product.soldout %}
                <div class="center">
                    <button class="btn basic-button" disabled>Sold Out</button>
                </div>   
                {% else %}
                <div>
                        <form action="{% url 'add_to_bag' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="row padding">
                                <div class="col-8">
                                    <div class="row add-to-bag">
                                        <div class="col">
                                            <p>Quantity:</p>
                                        </div>
                                        <div class="col">
                                            <input type="number" name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <p class="center">€{{ product.price }}</p>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="col">
                                    <button type="submit" class="btn basic-button add-button">Add to Bag</button>
                                </div>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </form>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
        <hr class="d-lg-none">
        <div class="description">
            <h4 class="center margin-bottom-l">Description</h4>
            <p>{{ product.description|linebreaksbr }}</p>
        </div>
        <div class="keep-shopping">
            <a href="{% url 'products' %}" class="btn basic-button">Keep Shopping</a>
        </div>
    </div>
</section>
{% endblock %}