{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<section>
    <div class="row banner">
        <div class="col">
            <p class="black-banner">Free shipping from €{{ free_delivery_threshold }},- in The Netherlands</p>
        </div>
    </div>
</section>
{% for c in category %}
<div class="container">
    <h2>{{ c.friendly_name }}</h2>
    {% if c.description != None %}
        <p class="margin-bottom-l"><strong>{{ c.description|linebreaksbr }}</strong></p>
    {% endif %}
</div>
      
{% endfor %}
<section>
  
    <div class="container-fluid">
        <div class="row">
            {% for product in products %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-2">
                    <div class="card">
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top card-img" src="{{ product.image.url }}"  alt="Image of {{ product.name }}">
                        </a>
                        <div class="card-body">
                            <h3 class="card-title">{{ product.category.friendly_name }} - {{ product.name }}</h3>
                            <hr class="d-none d-md-block">
                            <p class="card-text center padding-5">€{{ product.price }}</p>
                            <div class="d-none d-md-block center padding-5">
                               <a href="{% url 'add_to_bag' product.id %}" class="btn basic-button add-button">Add to bag</a>
                                <a href="{% url 'product_detail' product.id %}" class="btn basic-button">See more</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}