<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
    <div class="toast-header">
            <strong class="me-auto">Success</strong>
            <button type="button" class="btn-close right" data-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        <p class="toast-xs toast-message">{{message}}</p>
    {% if grand_total %}
            <h4><strong>Your Bag ({{ product_count }})</strong></h4>
            <div>
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-4">
                            <img class="toast-image center" src="{{ item.product.image.url }}">
                        </div>
                        <div class="col">
                            <h5>{{ item.product.name }}</h5>
                            <p class="toast-xs">Quantity: {{ item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <p class="right"> ${{ total|floatformat:2 }}</p>
            <div class="right">
                 <a href="{% url 'view_bag' %}" class="btn basic-button">Go To Secure Checkout</a>
            </div>
        {% endif %}
</div>
</div>